/*
 * Format with http://www.cleancss.com/css-beautify/
 */

.body {
    background-color: white;
}
img.bubble_thumb:hover,
img.bubble_thumb:focus,
img.bubble_thumb.active {
    /* border-color: #5385d6 !important;*/
}
.fileName {
    display: block;
    cursor: pointer;
    font-weight: 500;
    color: #3596e0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 2px;
    padding-left: 2px;
    font-size: 12px;
}
.modal-dialog-bubble {
    width: 85%;
}
.bubble_thumb {
    display: inline-block;
    border: 2px solid white;
    border-radius: 20px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    max-width: 90%;
    max-height: 90%;
    cursor: pointer;
    margin: auto;
    vertical-align: middle;
    padding: 7px;
}
.thumbContainer:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.bubble_thumb:hover {
    padding: 0px;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Firefox < 16 */
/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Internet Explorer */
/* Opera < 12.1 */

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/* Firefox < 16 */
/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/* Internet Explorer */
/* Opera < 12.1 */

.search-form .form-group {
    margin: -4.5em;
    margin-left: 30em;
    float: left !important;
    -webkit-transition: all 0.35s, border-radius 0s;
    transition: all 0.35s, border-radius 0s;
    width: 2.5em;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
    padding-left: 2em;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */

    display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */

    display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}
.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    right: initial;
    font-size: 14px;
}
#searchControl {
    display: none;
}
#searchControl:checked + label {
    width: 50%;
}
.col-sm-9 {
    height: 50em;
}
.nav-pills {
    position: fixed;
    cursor: pointer;
}
.breadcrumb {
    z-index: 100;
    position: relative;
    margin-left: 1px;
    margin-right: 1px;
    height: 3.6em;
    padding-top: .4em;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
}
/* The responsive part */

.nav > li > a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
audio {
    margin-top: 1em;
    width: 100%;
}
.breadcrumb > li {
    /* With less: .text-overflow(); */

    display: inline-block;
    margin: 2px;
    padding: .6em;
    padding-right: 1em;
    padding-left: 1em;
    margin-bottom: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 1, 0.30), 1px 0px rgba(0, 0, 0, 0.01);
    background-color: white;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    max-width: 7em;
    float: left;
}
.breadcrumb > li > a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}
.breadcrumb > li:hover {
    /* With less: .text-overflow(); */

    background: #66ccff;
}
.breadcrumb > li > a:hover {
    /* With less: .text-overflow(); */

    color: aliceblue;
    text-decoration: none;
}
.breadcrumb > li + li:before {
    content: ""
}
.breadcrumb > *:nth-child(n+1) {
    display: none;
}
.invisible {
    display: none;
}
/* === For phones =================================== */

@media (max-width: 767px) {
    .breadcrumb > *:nth-last-child(-n+5) {
        display: inline;
    }
    .breadcrumb > * {
        max-width: 60px;
    }
}
/* === For tablets ================================== */

@media (min-width: 768px) and (max-width: 991px) {
    .breadcrumb > *:nth-last-child(-n+6) {
        display: inline;
    }
    .breadcrumb > * {
        max-width: 100px;
    }
}
/* === For desktops ================================== */

@media (min-width: 992px) {
    .breadcrumb > *:nth-last-child(-n+10) {
        display: inline;
    }
    .breadcrumb > * {
        max-width: 170px;
    }
}
.navbar {
    height: 7em;
    background-color: #eee;
    border-bottom: 1px solid #eee;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.30), 1px 10px rgba(0, 0, 0, 0.01);
}
h2 {
    margin-bottom: 0px;
    padding-bottom: 9px;
    margin-left: .3em;
    padding-top: px;
    border-bottom: 1px solid lightgrey;
    margin-right: 6em;
    color: #3596e0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
body {
    min-height: 12em;
    padding-top: 8em;
}
.container:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15), 0 5px 3px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    padding-bottom: 30px;
    margin-bottom: 10px;
    width: 98%;
}
.container {
    border-radius: 10px;
    padding-bottom: 30px;
    margin-bottom: 10px;
    width: 98%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12), 1px 2px rgba(0, 0, 0, 0.10);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
/*
 * Sidebar
 */

.scrollboy {
    background-color: white;
    border-bottom: 1px solid #eee;
    padding-bottom: 1em;
    padding-right: 1em;
    height: 50px;
}
@media only screen and (min-width: 1em) {
    .thumbContainer {
        vertical-align: top;
        position: relative;
        padding: 0px;
        display: inline-block;
        width: 20%;
        min-width: 100px;
        max-width: 170px;
        height: 170px;
        max-height: 130px;
        text-align: center;
        animation: fadein .5s;
        padding-bottom: 20px;
    }
    .headIcon {
        max-height: 3em;
        margin-left: 10px;
    }
    .body {
        margin-top: 1em;
    }
    .boxIcon {
        max-width: 0%;
        min-width: 0px;
        position: relative;
        margin-top: -1em;
    }
    .categories {
        margin-top: -1em;
        margin-bottom: 40em;
    }
    .sidebar {
        z-index: 100;
        padding: 0px;
        overflow-x: hidden;
        /* overflow-y: auto;  Scrollable contents if viewport is shorter than content. */

        height: 30px;
        padding-left: 0;
        padding-right: 0;
        width: 15%;
        min-width: 9em;
        max-width: 13em;
        overflow: hidden;
    }
    .sidebar .nav {
        margin-bottom: 20px;
        margin-left: 20px;
        top: 8em;
        border-right: 1px solid #eee;
        background-color: #eee;
        border-radius: 5px;
        width: 15%;
        min-width: 50px;
        max-width: 10em;
        height: 23px;
    }
    .navbar-nav {
        height: 4em;
        width: 100%;
        margin-left: 1em;
    }
}
@media only screen and (min-width: 40em) {
    .fileName {
        font-size: 14px;
    }
    .thumbContainer {
        vertical-align: top;
        position: relative;
        padding: 1px;
        display: inline-block;
        width: 20%;
        min-width: 100px;
        max-width: 170px;
        height: 170px;
        text-align: center;
        animation: fadein .5s;
        padding-bottom: 20px;
    }
    .headIcon {
        z-index: 0;
        max-height: 7em;
        display: block;
    }
    .body {
        margin-top: 0;
    }
    .boxIcon {
        display: block;
        max-width: 3%;
        min-width: 90px;
        float: left;
        position: fixed;
        margin-top: -7em;
        margin-left: 22em;
    }
    .categories {
        margin-left: 12em;
        margin-bottom: 40em;
    }
    .sidebar {
        padding: 0px;
        overflow-x: hidden;
        /* overflow-y: auto;  Scrollable contents if viewport is shorter than content. */

        height: 300px;
        border-right: 1px solid #eee;
        padding-left: 0;
        padding-right: 0;
        float: left;
        width: 15%;
        min-width: 9em;
        max-width: 13em;
        height: 0em;
    }
    .sidebar .nav {
        margin-bottom: 20px;
        margin-left: 20px;
        top: 9em;
        border-right: 1px solid #eee;
        background-color: #eee;
        border-radius: 5px;
        width: 15%;
        min-width: 50px;
        max-width: 10em;
    }
    .navbar-nav {
        height: 2em;
        width: 100%;
        margin-left: 1em;
    }
    @media not all and (min-resolution: .001dpcm) {
        @supports (-webkit-appearance: none) {
            .thumbContainer {
                vertical-align: top;
                position: relative;
                padding: 0px;
                display: inline-block;
                width: 20%;
                min-width: 100px;
                max-width: 170px;
                height: 170px;
                max-height: 130px;
                text-align: center;
                animation: fadein .5s;
                padding-bottom: 20px;
                margin-bottom: 10px;
            }
            .headIcon {
                max-height: 3em;
                margin-left: 10px;
            }
            .body {
                margin-top: 1em;
            }
            .boxIcon {
                max-width: 0%;
                min-width: 0px;
                position: relative;
                margin-top: -1em;
            }
            .categories {
                margin-top: -1em;
                margin-bottom: 40em;
            }
            .sidebar {
                z-index: 100;
                padding: 0px;
                overflow-x: hidden;
                /* overflow-y: auto;  Scrollable contents if viewport is shorter than content. */

                height: 30px;
                padding-left: 0;
                padding-right: 0;
                width: 15%;
                min-width: 9em;
                max-width: 13em;
                overflow: hidden;
            }
            .sidebar .nav {
                margin-bottom: 20px;
                margin-left: 20px;
                top: 8em;
                border-right: 1px solid #eee;
                background-color: #eee;
                border-radius: 5px;
                width: 15%;
                min-width: 50px;
                max-width: 10em;
                height: 23px;
            }
            .navbar-nav {
                height: 4em;
                width: 100%;
                margin-left: 1em;
            }
        }
    }
}
/* Sidebar navigation */

.sidebar .nav-item {
    width: 100%;
}
.sidebar .nav-item + .nav-item {
    margin-left: 0;
}
.nav-stacked > li {
    margin-bottom: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #eee;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05), 1px 2px rgba(0, 0, 0, 0.10);
    -webkit-animation: fadein .5s;
    /* Safari, Chrome and Opera > 12.1 */
    /* Firefox < 16 */
    /* Internet Explorer */
    /* Opera < 12.1 */

    animation: fadein .5s;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.nav-stacked > li:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.55), 1px 2px rgba(0, 0, 0, 0.10);
}
.sidebar .nav-link {
    border-radius: 0;
}
.files {
    padding-left: 10px;
}
/*
 * Dashboard
 */
/* Modal */

.audioContianer {
    margin-left: 55em;
    margin-top: -5.5em;
}
.row > .column {
    padding: 0 8px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 25%;
}
/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    padding-top: 50px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}
.audio-modal {
    display: none;
    position: relative;
    overflow: hidden;
}
.txt {
    position: relative;
    padding: 0;
    height: 60em;
    min-width: 100%;
    margin: auto;
    background-color: white;
}
/* Modal Content */

.modal-title {
    color: transparent;
}
.modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding-top: 15px;
    max-width: 100%;
}
/* The Close Button */

.close {
    color: black;
    position: absolute;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
.close-bubble {
    color: white;
    position: absolute;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    top: -15px;
}
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
.mySlides {
    display: none;
}
/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}
/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.caption-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 16px;
    color: white;
}
img.demo {
    opacity: 0.6;
}
.active,
.demo:hover {
    opacity: 1;
}
img.hover-shadow {
    -webkit-transition: 0.3s;
    transition: 0.3s
}
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.footerBar {
    height: 7em;
    background-color: #eee;
    border-bottom: 1px solid #eee;
    text-align: center;
    top: 30em;
    padding-top: 2em;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    color: #fff;
    background: #66ccff;
}
@media not all and (min-resolution: .001dpcm) {
    @supports (-webkit-appearance: none) {
        @media only screen and (min-width: 40em) {
            .container {
                margin-right: 6em;
            }
        }
    }
}
